<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="footer">

<!-- footer  -->

    <div class="row">
        <div class="col-md-4">
            <p class="title_footer"><span>GOP Y</span></p><br>
            <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad impedit magnam harum delectus culpa omnis, ratione odit? Quo sint dignissimos vel fuga, voluptas accusantium tempore id in obcaecati, veritatis magni.</span>
        </div>
        <div class="col-md-4">
            <p class="title_footer"><span>GOP Y</span></p><br>
            <span>
          Dia CHi
        </span><br>
            <span>
          Email
          </span><br>
            <span>
             SDT
              </span><br>
        </div>
        <div class="col-md-4">
            <p class="title_footer"><span>GOP Y</span></p><br>
            <input class="text_input" style="margin-bottom: 8px" type="text" placeholder="EMAIL">
            <textarea class="textarea_input" style="margin-bottom: 8px" name="" id="" cols="50" rows="4"
                      placeholder="NOI DUNG"></textarea>
            <button class="button_footer">Dong Y</button>
        </div>


    </div>
    <div class="row"></div>
    <div class="row"></div>





</body>
</html>