<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="infor">
<!-- infor -->

    <div class="row">
        <div class="col-12 col-sm-4 col-md-4  wow fadeInLeft " data-wow-duration="1s" data-wow-delay="1s">
            <img class="icon" src="/image/dell.png"
                 alt=""><br>
            <span style="font-size: 32px;font-weight: 500">Chat Luong</span><br>
            <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum possimus tempore nemo facere distinctio
          quod, reiciendis ad laudantium quae delectus molestias accusamus quasi sit omnis dignissimos odio nulla ullam
          dolorum?</span>

        </div>
        <div class="col-12 col-sm-4 col-md-4  wow fadeInLeft " data-wow-duration="2s" data-wow-delay="2s">
            <img class="icon" src="/image/dell.png"
                 alt=""><br>
            <span style="font-size: 32px;font-weight: 500">Chat Luong</span><br>
            <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum possimus tempore nemo facere distinctio
          quod, reiciendis ad laudantium quae delectus molestias accusamus quasi sit omnis dignissimos odio nulla ullam
          dolorum?</span>
        </div>
        <div class="col-12 col-sm-4 col-md-4  wow fadeInLeft " data-wow-duration="2s" data-wow-delay="3s">
            <img class="icon" src="/image/dell.png"
                 alt=""><br>
            <span style="font-size: 32px;font-weight: 500">Chat Luong</span><br>
            <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum possimus tempore nemo facere distinctio
          quod, reiciendis ad laudantium quae delectus molestias accusamus quasi sit omnis dignissimos odio nulla ullam
          dolorum?</span>
        </div>
    </div>



</body>
</html>