<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Pooled Admin Panel Category Flat Bootstrap Responsive Web Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Pooled Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
    <link href="admin/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
    <!-- Custom CSS -->
    <link href="admin/css/style.css" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="css/morris.css" type="text/css"/>
    <!-- Graph CSS -->
    <link href="admin/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="admin/js/jquery-2.1.4.min.js"></script>
    <!-- //jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet'
          type='text/css'/>
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="admin/css/icon-font.min.css" type='text/css'/>
    <!-- //lined-icons -->
    <!--<script src="jquery/jquery.js"></script>-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/custom.js"></script>
    <!-- //lined-icons -->
</head>
<body>
<div class="page-container">
    <!--/content-inner-->
    <div class="left-content">
        <div class="mother-grid-inner">
            <div class="row">
                <div class="col-sm-6 col-md-6">

                    <h1>Thêm Danh Muc </h1>
                    <form id="form-themDanhMuc">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Tên Danh Muc </label>
                            <input type="text" class="form-control" id="formGroupExampleInput"
                                   name="tenDanhMuc" placeholder="Nhập vào tên  Danh Muc ">
                        </div>


                        <div class="form-group">
                            <label>Hình ảnh </label>
                            <input type="file" class="form-control" id="fileDanhMuc"
                                   placeholder="Hình ảnh">
                        </div>
                        <input type="text" id="hinhDanhMuc" name="hinhDanhMuc" hidden>
                        <input type="text" id="maDanhMuc" name="maDanhMuc" hidden>


                        <input type="button" class="btn btn-primary" id="themDanhMuc" value="Thêm Danh Muc ">
                        <input type="button" class="btn btn-primary" id="suaDanhMuc" value="update danh Muc " hidden>
                    </form>


                </div>


                <div class="col-sm-6 col-md-6">
                    <h3>Danh Muc </h3>
                    <div style="float:right">

                        <button class="btn btn-info" id="xoaDanhMuc"> Xóa</button>
                        <button class="btn btn-info" id="Refesh"> Refesh</button>
                    </div>
                    <table class="table " id="table-danhmuc">
                        <thead>
                        <tr>
                            <th>
                                <div class="checkbox">
                                    <label><input id="checkAllDanhMuc" type="checkbox" value="checkAll">Chọn Tất
                                        Cả</label>
                                </div>

                            </th>
                            <th>STT</th>
                            <th> tên Danh Muc</th>
                            <th>Thương Hiệu</th>
                            <th>Sửa</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="danhMuc,iter : ${listDanhMuc}">

                            <td>
                                <div class="checkbox">
                                    <label><input class="checkBoxDanhMuc" type="checkbox"
                                                  th:value="${danhMuc.maDanhMuc}"></label>
                                </div>

                            </td>


                            <td><span th:text="${iter.index}"></span></td>

                            <td><span th:text="${danhMuc.tenDanhMuc}"></span></td>

                            <td><img style=" width: 100px; height: 100px; " th:src="${'/image/' + danhMuc.hinhDanhMuc}">
                            </td>


                            <td>
                                <buttion class=" btn btn-primary btnSuaDanhMuc "
                                         th:attr="data-maDanhMuc=${danhMuc.maDanhMuc}">
                                    Sửa
                                </buttion>

                            </td>


                        </tr>


                        </tbody>

                    </table>
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <span class="page-link">Previous</span>
                            </li>
                            <li th:each="i: ${#numbers.sequence(1, count)}"
                                th:class="${i == 1 ? 'page-item active' : 'page-item'}"><a th:text="${i}"
                                                                                           class="page-link"
                                                                                           href="#"></a></li>

                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>


    </div>
    <!--//content-inner-->


    <!--<script>-->
    <!--$(document).ready(function () {-->
    <!--var navoffeset = $(".header-main").offset().top;-->
    <!--$(window).scroll(function () {-->
    <!--var scrollpos = $(window).scrollTop();-->
    <!--if (scrollpos >= navoffeset) {-->
    <!--$(".header-main").addClass("fixed");-->
    <!--} else {-->
    <!--$(".header-main").removeClass("fixed");-->
    <!--}-->
    <!--});-->

    <!--});-->
    <!--</script>-->
    <!-- /script-for sticky-nav -->
    <!--inner block start here-->
    <div class="inner-block">

    </div>
    <!--inner block end here-->
    <!--copy rights start here-->
    <div class="copyrights">
        <p>© 2016 Pooled. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
        </p>
    </div>
    <!--COPY rights end here-->
</div>
</div>
<!--/sidebar-menu-->

<div class="sidebar-menu">
    <div th:replace="slibar-menu.html :: sidebar-menu"></div>
</div>


<div class="clearfix"></div>
</div>

<script>
    var toggle = true;

    $(".sidebar-icon").click(function () {
        if (toggle) {
            $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
            $("#menu span").css({"position": "absolute"});
        }
        else {
            $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
            setTimeout(function () {
                $("#menu span").css({"position": "relative"});
            }, 400);
        }

        toggle = !toggle;
    });
</script>
<!--js -->
<script src="admin/js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="admin/js/bootstrap.min.js"></script>
<!-- /Bootstrap Core JavaScript -->
<!-- morris JavaScript -->
<script src="admin/js/raphael-min.js"></script>
<script src="admin/js/morris.js"></script>
<script>
    $(document).ready(function () {
        //BOX BUTTON SHOW AND CLOSE
        jQuery('.small-graph-box').hover(function () {
            jQuery(this).find('.box-button').fadeIn('fast');
        }, function () {
            jQuery(this).find('.box-button').fadeOut('fast');
        });
        jQuery('.small-graph-box .box-close').click(function () {
            jQuery(this).closest('.small-graph-box').fadeOut(200);
            return false;
        });

        //CHARTS
        function gd(year, day, month) {
            return new Date(year, month - 1, day).getTime();
        }

        graphArea2 = Morris.Area({
            element: 'hero-area',
            padding: 10,
            behaveLikeLine: true,
            gridEnabled: false,
            gridLineColor: '#dddddd',
            axes: true,
            resize: true,
            smooth: true,
            pointSize: 0,
            lineWidth: 0,
            fillOpacity: 0.85,
            data: [
                {period: '2014 Q1', iphone: 2668, ipad: null, itouch: 2649},
                {period: '2014 Q2', iphone: 15780, ipad: 13799, itouch: 12051},
                {period: '2014 Q3', iphone: 12920, ipad: 10975, itouch: 9910},
                {period: '2014 Q4', iphone: 8770, ipad: 6600, itouch: 6695},
                {period: '2015 Q1', iphone: 10820, ipad: 10924, itouch: 12300},
                {period: '2015 Q2', iphone: 9680, ipad: 9010, itouch: 7891},
                {period: '2015 Q3', iphone: 4830, ipad: 3805, itouch: 1598},
                {period: '2015 Q4', iphone: 15083, ipad: 8977, itouch: 5185},
                {period: '2016 Q1', iphone: 10697, ipad: 4470, itouch: 2038},
                {period: '2016 Q2', iphone: 8442, ipad: 5723, itouch: 1801}
            ],
            lineColors: ['#ff4a43', '#a2d200', '#22beef'],
            xkey: 'period',
            redraw: true,
            ykeys: ['iphone', 'ipad', 'itouch'],
            labels: ['All Visitors', 'Returning Visitors', 'Unique Visitors'],
            pointSize: 2,
            hideHover: 'auto',
            resize: true
        });


    });
</script>
</body>
</html>